.box{
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 20px 16px 11px -3px rgba(0,0,0,0.1);
    border-radius: 50px;
    min-height: 200px;
    width: 1000px;
    border-bottom: ;
}
.a {
    color: white;
    text-align: center;
    background-color: rgb(150, 26, 150);
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
    border: 2px solid rgb(254, 252, 252);
    min-height: 5px;
    width: 950px;
    border-radius: 20px;
    
}